@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Slab:wght@100&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  background-color: rgb(249, 251, 254);
  letter-spacing: 1.25px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --font-heading: "Roboto Slab";
  --font-body: "Poppins";
}
