.PostInformation {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      svg#editPostButton {
        color: var(--blue-button-color);
      }
      svg#deletePostButton {
        color: #c73e3e;
      }
      svg#reactPostButton {
        cursor: pointer;
        color: #c73e3e;
      }
      svg#commentPostButton {
        cursor: pointer;
        color: var(--blue-button-color);
      }
      svg#resetPostButton {
        cursor: pointer;
        color: #3ec750;
      }
    }
  }
  .settingPost {
    svg {
      margin: 0 10px 0 10px;
      width: 25px;
      height: 25px;
      color: rgb(146, 208, 240);
      pointer-events: none;
    }
  }
  .contactWithPost {
    svg {
      margin: 0 10px 0 15px;
      width: 25px;
      height: 25px;
      color: gray;
      pointer-events: none;
      &#reactActivedPostButton {
        color: #c73e3e;
      }
    }
  }
  .postCreateTime {
    p {
      margin: 0;
    }
  }
}
