.UserInputComment {
  margin: 2.5rem auto 2.5rem auto;
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .inputTextContainer {
      width: 80%;
    }
    .addPostButtonContainer {
      width: 20%;
      input {
        font-size: 1rem;
        font-family: inherit;
        border-radius: 3px;
        margin-left: 15px;
        width: 85%;
        padding: 10px;
        border: none;
        background-color: rgb(146, 208, 240);
        color: rgba(249, 251, 254, 0.7);
      }
    }
  }
  div {
    position: relative;
    .textLength {
      position: absolute;
      color: rgb(60, 175, 233);
      font-size: 0.75rem;
      right: 20%;
    }
  }
}
